<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<p><%= link_to 'Add banking info', plaid_new_path %></p>
<p><%= link_to 'Update banking info', plaid_update_path %></p>

<p><%= link_to 'Add donation charge info', stripe_new_path %></p>

<p><%= link_to 'Update donation charge info', stripe_update_path %></p>


