<!-- <div class='charities-list col-md-12'> -->
<main role="main">
  <div class='authform charities-list'>
    <h3>Please Select Your Charity</h3>
    <%= form_for current_user, :url => update_charities_users_path(current_user), method: :patch do |f| %>
      <% @charities.all.each do |charity| %>
        <%= radio_button_tag("charity_id", charity.id, (current_user.charity_id == charity.id)) %>
        <%= image_tag charity.logo_url, :class => "logo" %>
        <%= label_tag(:charity, charity.name + ": " + charity.description) %>
      <% end %>
      <%= f.submit 'Submit', :class => 'button right' %>
      <% end %>
  </div>
</main>
<!-- </div> -->